# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt


/.sourcemaps
/.versions
/coverage

# Ionic
/.ionic
/www
/platforms
/plugins

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# Miscellaneous
/.angular
/.angular/cache
.sass-cache/
/.nx
/.nx/cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Source - https://stackoverflow.com/a/51793051
# Posted by Mincong Huang, modified by community. See post 'Timeline' for change history
# Retrieved 2026-07-09, License - CC BY-SA 4.0

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

CesizenBase/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
CesizenBase/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
CesizenBase/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
CesizenBase/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
CesizenBase/target/surefire-reports/gouv.rr.CesizenApplicationTest.txt
# Maven / Java
/target/
/**/target/
/*.iml
/.idea/
/*.log
/surefire-reports/
/**/surefire-reports/
/*.lst
